openapi: '3.0.0'
info:
  version: 1.0.0
  title: InnovationGear API
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /maps:
    get:
      summary: List all maps
      operationId: listMaps
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of maps
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Maps'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a map
      operationId: createMaps
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /maps/{mapId}:
    get:
      summary: Info for a map
      operationId: showMapById
      parameters:
        - name: mapId
          in: path
          required: true
          description: The id of the map to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Maps'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /exports:
    get:
      summary: List all exports
      operationId: listExports
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of exports
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exports'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create an export
      operationId: createExports
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Map:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        theme:
          type: string
    Maps:
      type: array
      items:
        $ref: '#/components/schemas/Map'
    Export:
      required:
        - id
        - format
      properties:
        id:
          type: integer
          format: int64
        format:
          type: string
        downloadUrl:
          type: string
    Exports:
      type: array
      items:
        $ref: '#/components/schemas/Export'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string